mixin advantages(data)
    section.advantages
        .advantages__in.in
            h2.advantages__title.title.title_big Что нужно знать о высшем образовании в чехии
            ul.advantages__list
                li.advantages__item
                    figure.advantages__icon
                        img.lazy(data-src="assets/images/content/advantages-icon-1.png")
                    .advantages__w 
                        .advantages__item-title Бесплатное обучение
                        .advantages__text Бесплатно можно учиться на абсолютно всех программах в государственных университетах на чешском языке. 

                li.advantages__item
                    figure.advantages__icon
                        img.lazy(data-src="assets/images/content/advantages-icon-2.png")
                    .advantages__w
                        .advantages__item-title Высокий рейтинг вузов
                        .advantages__text Карлов Университет в Праге, Высшая школа экономики, Чешский технический университет в Праге и многие другие – известны во всем мире высоким качеством образования

                li.advantages__item
                    figure.advantages__icon
                        img.lazy(data-src="assets/images/content/advantages-icon-3.png")
                    .advantages__w
                        .advantages__item-title Подготовительные программы
                        .advantages__text Для успешного поступления лучше выбирать языковые подготовительные курсы перед началом обучения в ВУЗе

                        a.advantages__more(href="#") Читать подробнее
                li.advantages__item
                    figure.advantages__icon
                        img.lazy(data-src="assets/images/content/advantages-icon-4.png")
                    .advantages__w
                        .advantages__item-title ПЕрспективы трудоустройства
                        .advantages__text Для успешного поступления лучше выбирать языковые подготовительные курсы перед началом обучения в ВУЗе

