mixin education(data)
    section.education.section.lazy(data-bg="url('assets/images/content/articles-inner-bg.png')")
        .education__in.in
            h2.education__title.title.title_big Высшее образование в чехии
            .education__tabs.tabs
                ul.tabs__nav
                    li.tabs__item
                        a.tabs__link(href="#") Поступление

                    li.tabs__item.active
                        a.tabs__link(href="#") Обучение 

                    li.tabs__item
                        a.tabs__link(href="#") Проживание

                    li.tabs__item
                        a.tabs__link(href="#") Виза

                    li.tabs__item
                        a.tabs__link(href="#") Стоимость

                .tabs__content

                    .tabs__tab 1

                    .tabs__tab.active

                        .education__slider

                            .education__item
                                .education__text
                                    p Для успешного поступления лучше выбирать языковые подготовительные курсы перед началом обучения в ВУЗе Дляуспешного поступления лучше выбирать языковые подготовительные курсы перед началом обучения в ВУЗе Для успешного поступления лучше выбирать языковые подготовительные курсы перед началом обучения в ВУЗе Для успешного поступления лучше выбирать языковые подготовительные курсы перед началом обучения в ВУЗе Дляуспешного поступления лучше выбирать языковые подготовительные курсы перед началом обучения в ВУЗе Для успешного поступления лучше выбирать языковые подготовительные курсы перед началом обучения в ВУЗе Для успешного поступления лучше выбирать языковые подготовительные курсы перед началом обучения в ВУЗе Для успешного поступления лучше выбирать языковые подготовительные курсы перед началом обучения в ВУЗе. Дляуспешного поступления лучше выбирать языковые подготовительные курсы перед началом обучения в ВУЗе Для успешного поступления лучше выбирать языковые подготовительные курсы перед началом обучения в ВУЗе Для успешного поступления лучше выбирать языковые подготовительные курсы перед началом обучения в ВУЗе Для успешного поступления лучше выбирать языковые подготовительные курсы перед началом обучения в ВУЗе.


                                a.education__more.button.button_big(href="#") Узнать подробнее

                            .education__item
                                .education__text
                                    p Для успешного поступления лучше выбирать языковые подготовительные курсы перед началом обучения в ВУЗе Для успешного поступления лучше выбирать языковые подготовительные курсы перед началом обучения в ВУЗе Для успешного поступления лучше выбирать языковые подготовительные курсы перед началом обучения в ВУЗе Для успешного поступления лучше выбирать языковые подготовительные курсы перед началом обучения в ВУЗе Для успешного поступления лучше выбирать языковые подготовительные курсы перед началом обучения в ВУЗе Для успешного поступления лучше выбирать языковые подготовительные курсы перед началом обучения в ВУЗе Для успешного поступления лучше выбирать языковые подготовительные курсы перед началом обучения в ВУЗе Для успешного поступления лучше выбирать языковые подготовительные курсы перед началом обучения в ВУЗе. Для успешного поступления лучше выбирать языковые подготовительные курсы перед началом обучения в ВУЗе Для успешного поступления лучше выбирать языковые подготовительные курсы перед началом обучения в ВУЗе Для успешного поступления лучше выбирать языковые подготовительные курсы перед началом обучения в ВУЗе Для успешного поступления лучше выбирать языковые подготовительные курсы перед началом обучения в ВУЗе.

                                a.education__more.button.button_big(href="#") Узнать подробнее

                            .education__item
                                .education__text
                                    p Для успешного поступления лучше выбирать языковые подготовительные курсы перед началом обучения в ВУЗе Для успешного поступления лучше выбирать языковые подготовительные курсы перед началом обучения в ВУЗе Для успешного поступления лучше выбирать языковые подготовительные курсы перед началом обучения в ВУЗе Для успешного поступления лучше выбирать языковые подготовительные курсы перед началом обучения в ВУЗе Для успешного поступления лучше выбирать языковые подготовительные курсы перед началом обучения в ВУЗе Для успешного поступления лучше выбирать языковые подготовительные курсы перед началом обучения в ВУЗе Для успешного поступления лучше выбирать языковые подготовительные курсы перед началом обучения в ВУЗе Для успешного поступления лучше выбирать языковые подготовительные курсы перед началом обучения в ВУЗе. Для успешного поступления лучше выбирать языковые подготовительные курсы перед началом обучения в ВУЗе Для успешного поступления лучше выбирать языковые подготовительные курсы перед началом обучения в ВУЗе Для успешного поступления лучше выбирать языковые подготовительные курсы перед началом обучения в ВУЗе Для успешного поступления лучше выбирать языковые подготовительные курсы перед началом обучения в ВУЗе.

                                a.education__more.button.button_big(href="#") Узнать подробнее

            
                    .tabs__tab 3

                    .tabs__tab 4

                    .tabs__tab 5

