mixin promo(data)
    section.promo.section
        .promo__in.in
            h2.promo__title.title.title_big Акции
            .promo__carousel
                article.promo__article
                    a.promo__link(href="#")
                    .promo__top
                        figure.promo__image
                            img.lazy(data-src="assets/images/content/promo-img.png", alt="")
                        .promo__meta
                            .promo__date 30.01.2019 - 30.02.2019 
                        .promo__item-title Акция "Образование - всем детям"

                    .promo__text Мы используем весь наш многолетний опыт и знания для подбора наилучших программ обучения и построения максимально эффективной стратегии подготовки к поступлению. Наши эксперты лично 
                    .promo__more Читать далее...


                article.promo__article
                    a.promo__link(href="#")
                    .promo__top
                        figure.promo__image
                            img.lazy(data-src="assets/images/content/promo-img.png", alt="")
                        .promo__meta
                            .promo__date 30.01.2019 - 30.02.2019 
                        .promo__item-title Акция "Образование - всем детям"

                    .promo__text Мы используем весь наш многолетний опыт и знания для подбора наилучших программ обучения и построения максимально эффективной стратегии подготовки к поступлению. Наши эксперты лично 
                    .promo__more Читать далее...


                article.promo__article
                    a.promo__link(href="#")
                    .promo__top
                        figure.promo__image
                            img.lazy(data-src="assets/images/content/promo-img.png", alt="")
                        .promo__meta
                            .promo__date 30.01.2019 - 30.02.2019 
                        .promo__item-title Акция "Образование - всем детям"

                    .promo__text Мы используем весь наш многолетний опыт и знания для подбора наилучших программ обучения и построения максимально эффективной стратегии подготовки к поступлению. Наши эксперты лично 
                    .promo__more Читать далее...


                article.promo__article
                    a.promo__link(href="#")
                    .promo__top
                        figure.promo__image
                            img.lazy(data-src="assets/images/content/promo-img.png", alt="")
                        .promo__meta
                            .promo__date 30.01.2019 - 30.02.2019 
                        .promo__item-title Акция "Образование - всем детям"

                    .promo__text Мы используем весь наш многолетний опыт и знания для подбора наилучших программ обучения и построения максимально эффективной стратегии подготовки к поступлению. Наши эксперты лично 
                    .promo__more Читать далее...

                article.promo__article
                    a.promo__link(href="#")
                    .promo__top
                        figure.promo__image
                            img.lazy(data-src="assets/images/content/promo-img.png", alt="")
                        .promo__meta
                            .promo__date 30.01.2019 - 30.02.2019 
                        .promo__item-title Акция "Образование - всем детям"

                    .promo__text Мы используем весь наш многолетний опыт и знания для подбора наилучших программ обучения и построения максимально эффективной стратегии подготовки к поступлению. Наши эксперты лично 
                    .promo__more Читать далее...

