mixin reviews(data)
    section.reviews.section
        .reviews__in.in
            h2.reviews__title.title.title_big О чем говорят наши студенты и их родители
            .reviews__carousel
                article.reviews__article
                    a.reviews__link(href="#")
                    .reviews__photo
                        img.lazy(data-src="assets/images/content/reviews-photo-1.jpg", alt="")
                    .reviews__name-w
                        .reviews__name Наталья Бойковец
                        .reviews__role Карлов университет 
                    .reviews__text Для успешного поступления лучше выбирать языковые подготовительные курсы перед началом обучения в ВУЗе 
                        span.reviews__more >>
                    .reviews__social
                        a.reviews__social-link(href="#link")
                            img.lazy(data-src="assets/images/general/fb-icon.png", alt="facebook")
                        a.reviews__social-link(href="#link") 
                            img.lazy(data-src="assets/images/general/linkedin-icon.png", alt="linkedin")

                article.reviews__article
                    a.reviews__link(href="#")
                    .reviews__photo
                        img.lazy(data-src="assets/images/content/reviews-photo-2.jpg", alt="")
                    .reviews__name-w
                        .reviews__name Николай Никитин
                        .reviews__role Пражский экономический университет
                    .reviews__text Для успешного поступления лучше выбирать языковые подготовительные курсы перед началом обучения в ВУЗе 
                        span.reviews__more >>
                    .reviews__social
                        a.reviews__social-link(href="#link")
                            img.lazy(data-src="assets/images/general/fb-icon.png", alt="facebook")
                        a.reviews__social-link(href="#link") 
                            img.lazy(data-src="assets/images/general/linkedin-icon.png", alt="linkedin")


                article.reviews__article
                    a.reviews__link(href="#")
                    .reviews__photo
                        img.lazy(data-src="assets/images/content/reviews-photo-3.jpg", alt="")
                    .reviews__name-w
                        .reviews__name Людмила Матвиенко
                        .reviews__role мама студентки
                    .reviews__text Для успешного поступления лучше выбирать языковые подготовительные курсы перед началом обучения в ВУЗе 
                        span.reviews__more >>
                    .reviews__social
                        a.reviews__social-link(href="#link")
                            img.lazy(data-src="assets/images/general/fb-icon.png", alt="facebook")
                        a.reviews__social-link(href="#link") 
                            img.lazy(data-src="assets/images/general/linkedin-icon.png", alt="linkedin")


                article.reviews__article
                    a.reviews__link(href="#")
                    .reviews__photo
                        img.lazy(data-src="assets/images/content/reviews-photo-2.jpg", alt="")
                    .reviews__name-w
                        .reviews__name Николай Никитин
                        .reviews__role Пражский экономический университет 
                    .reviews__text Для успешного поступления лучше выбирать языковые подготовительные курсы перед началом обучения в ВУЗе 
                        span.reviews__more >>
                    .reviews__social
                        a.reviews__social-link(href="#link")
                            img.lazy(data-src="assets/images/general/fb-icon.png", alt="facebook")
                        a.reviews__social-link(href="#link") 
                            img.lazy(data-src="assets/images/general/linkedin-icon.png", alt="linkedin")

                article.reviews__article
                    a.reviews__link(href="#")
                    .reviews__photo
                        img.lazy(data-src="assets/images/content/reviews-photo-1.jpg", alt="")
                    .reviews__name-w
                        .reviews__name Наталья Бойковец
                        .reviews__role Карлов университет 
                    .reviews__text Для успешного поступления лучше выбирать языковые подготовительные курсы перед началом обучения в ВУЗе 
                        span.reviews__more >>
                    .reviews__social
                        a.reviews__social-link(href="#link")
                            img.lazy(data-src="assets/images/general/fb-icon.png", alt="facebook")
                        a.reviews__social-link(href="#link") 
                            img.lazy(data-src="assets/images/general/linkedin-icon.png", alt="linkedin")

                article.reviews__article
                    a.reviews__link(href="#")
                    .reviews__photo
                        img.lazy(data-src="assets/images/content/reviews-photo-2.jpg", alt="")
                    .reviews__name-w
                        .reviews__name Людмила Матвиенко
                        .reviews__role мама студентки
                    .reviews__text Для успешного поступления лучше выбирать языковые подготовительные курсы перед началом обучения в ВУЗе 
                        span.reviews__more >>
                    .reviews__social
                        a.reviews__social-link(href="#link")
                            img.lazy(data-src="assets/images/general/fb-icon.png", alt="facebook")
                        a.reviews__social-link(href="#link") 
                            img.lazy(data-src="assets/images/general/linkedin-icon.png", alt="linkedin")


                article.reviews__article
                    a.reviews__link(href="#")
                    .reviews__photo
                        img.lazy(data-src="assets/images/content/reviews-photo-3.jpg", alt="")
                    .reviews__name-w
                        .reviews__name Николай Никитин
                        .reviews__role Пражский экономический университет 
                    .reviews__text Для успешного поступления лучше выбирать языковые подготовительные курсы перед началом обучения в ВУЗе 
                        span.reviews__more >>
                    .reviews__social
                        a.reviews__social-link(href="#link")
                            img.lazy(data-src="assets/images/general/fb-icon.png", alt="facebook")
                        a.reviews__social-link(href="#link") 
                            img.lazy(data-src="assets/images/general/linkedin-icon.png", alt="linkedin")

                article.reviews__article
                    a.reviews__link(href="#")
                    .reviews__photo
                        img.lazy(data-src="assets/images/content/reviews-photo-2.jpg", alt="")
                    .reviews__name-w
                        .reviews__name Наталья Бойковец
                        .reviews__role Карлов университет 
                    .reviews__text Для успешного поступления лучше выбирать языковые подготовительные курсы перед началом обучения в ВУЗе 
                        span.reviews__more >>
                    .reviews__social
                        a.reviews__social-link(href="#link")
                            img.lazy(data-src="assets/images/general/fb-icon.png", alt="facebook")
                        a.reviews__social-link(href="#link") 
                            img.lazy(data-src="assets/images/general/linkedin-icon.png", alt="linkedin")

                article.reviews__article
                    a.reviews__link(href="#")
                    .reviews__photo
                        img.lazy(data-src="assets/images/content/reviews-photo-1.jpg", alt="")
                    .reviews__name-w
                        .reviews__name Наталья Бойковец
                        .reviews__role Карлов университет 
                    .reviews__text Для успешного поступления лучше выбирать языковые подготовительные курсы перед началом обучения в ВУЗе 
                        span.reviews__more >>
                    .reviews__social
                        a.reviews__social-link(href="#link")
                            img.lazy(data-src="assets/images/general/fb-icon.png", alt="facebook")
                        a.reviews__social-link(href="#link") 
                            img.lazy(data-src="assets/images/general/linkedin-icon.png", alt="linkedin")

                article.reviews__article
                    a.reviews__link(href="#")
                    .reviews__photo
                        img.lazy(data-src="assets/images/content/reviews-photo-2.jpg", alt="")
                    .reviews__name-w
                        .reviews__name Николай Никитин
                        .reviews__role Пражский экономический университет
                    .reviews__text Для успешного поступления лучше выбирать языковые подготовительные курсы перед началом обучения в ВУЗе 
                        span.reviews__more >>
                    .reviews__social
                        a.reviews__social-link(href="#link")
                            img.lazy(data-src="assets/images/general/fb-icon.png", alt="facebook")
                        a.reviews__social-link(href="#link") 
                            img.lazy(data-src="assets/images/general/linkedin-icon.png", alt="linkedin")


                article.reviews__article
                    a.reviews__link(href="#")
                    .reviews__photo
                        img.lazy(data-src="assets/images/content/reviews-photo-3.jpg", alt="")
                    .reviews__name-w
                        .reviews__name Людмила Матвиенко
                        .reviews__role мама студентки
                    .reviews__text Для успешного поступления лучше выбирать языковые подготовительные курсы перед началом обучения в ВУЗе 
                        span.reviews__more >>
                    .reviews__social
                        a.reviews__social-link(href="#link")
                            img.lazy(data-src="assets/images/general/fb-icon.png", alt="facebook")
                        a.reviews__social-link(href="#link") 
                            img.lazy(data-src="assets/images/general/linkedin-icon.png", alt="linkedin")
