mixin programs(data)
    section.programs.section.lazy(data-bg="url(assets/images/general/programs-bg.jpg)")
        .programs__in.in
            h2.programs__title.title.title_big Подготовительные программы
            ul.programs__list
                li.programs__item.programs__item_1
                    a.programs__link(href="#")
                        span.programs__text Высшее <br/>образование
                li.programs__item.programs__item_2
                    a.programs__link(href="#")
                        span.programs__text Языковые <br/>курсы
                li.programs__item.programs__item_3
                    a.programs__link(href="#")
                        span.programs__text Подготови-<br/>тельные <br/>программы
                li.programs__item.programs__item_4
                    a.programs__link(href="#")
                        span.programs__text Среднее <br/>образование
                li.programs__item.programs__item_5
                    a.programs__link(href="#")
                        span.programs__text Каникулы
                li.programs__item.programs__item_6
                    a.programs__link(href="#")
                        span.programs__text Стажировки