mixin header(data)
    header.header
        .header__top
            .header__in.in
                ul.header__social.social
                    li.social__item.social__item_fb
                        a.social__link(href="#link") 
                            img(src="assets/images/general/fb.png", alt="facebook")
                    li.social__item.social__item_youtube
                        a.social__link(href="#link") 
                            img(src="assets/images/general/youtube.png", alt="Youtube")
                    li.social__item.social__item_inst
                        a.social__link(href="#link") 
                            img(src="assets/images/general/instagram.png", alt="Instagram")
                    li.social__item.social__item_telegram
                        a.social__link(href="#link") 
                            img(src="assets/images/general/telegram.png", alt="Telegram")
                    li.social__item.social__item_whatsup
                        a.social__link(href="#link") 
                            img(src="assets/images/general/whatsup.png", alt="Whatsup")
                    li.social__item.social__item_phone
                        a.social__link(href="#link") 
                            img(src="assets/images/general/phone.png", alt="Phone")

                a.header__button.button(href="#link") Заказать обратный звонок
                .header__phones.phones
                    a.phones__phone(href="tel:+380952207420") +38 (095) 220 74 20
                    a.phones__phone(href="tel:+380970594993") +38 (097) 059 49 93

                .header__search.form.form_search
                    form(action="")
                        .form__field
                            input.form__input(type="text" value="" placeholder="")
                            input.form__submit(type="submit" value="Поиск")


                .header__lang.lang
                    a.lang__link.lang__link_active(href="#") RUS
                    span.lang__sep |
                    a.lang__link(href="#") UKR

        .header__bottom
            .header__in.in
                a.header__logo.logo(href="#")
                    img.logo__image(src="assets/images/general/logo.png", alt="Active Study - Образование за рубежом")
                nav.header__nav.nav

                    .nav__trigger
                        span.nav__trigger-line
                        span.nav__trigger-line
                        span.nav__trigger-line


                    ul.nav__list
                        li.nav__item
                            a.nav__link(href="#") О нас
                        li.nav__item.nav__item_sub
                            a.nav__link(href="#") Страны
                            .nav__sub-w
                                ul.nav__sub
                                    li.nav__sub-item.nav__sub-item_active
                                        a.nav__sub-link(href="#") Чехия
                                    li.nav__sub-item
                                        a.nav__sub-link(href="#") Польша
                                    li.nav__sub-item
                                        a.nav__sub-link(href="#") Словакия
                                    li.nav__sub-item
                                        a.nav__sub-link(href="#") Словения
                                    li.nav__sub-item
                                        a.nav__sub-link(href="#") Кипр
                                    li.nav__sub-item
                                        a.nav__sub-link(href="#") Австрия
                                    li.nav__sub-item
                                        a.nav__sub-link(href="#") Германия
                                    li.nav__sub-item
                                        a.nav__sub-link(href="#") Канада
                                    li.nav__sub-item
                                        a.nav__sub-link(href="#") Страны Прибалтики

                        li.nav__item.nav__item_sub
                            a.nav__link(href="#") Программы
                            
                            .nav__sub-w
                                ul.nav__sub
                                    li.nav__sub-item
                                        a.nav__sub-link(href="#") Программа 1
                                    li.nav__sub-item
                                        a.nav__sub-link(href="#") Программа 2
                                    li.nav__sub-item
                                        a.nav__sub-link(href="#") Программа 3
                                    li.nav__sub-item
                                        a.nav__sub-link(href="#") Программа 4
                                    li.nav__sub-item
                                        a.nav__sub-link(href="#") Программа 5
                                    li.nav__sub-item
                                        a.nav__sub-link(href="#") Программа 6
                                    li.nav__sub-item
                                        a.nav__sub-link(href="#") Программа 7
                                    li.nav__sub-item
                                        a.nav__sub-link(href="#") Программа 8
                                    li.nav__sub-item
                                        a.nav__sub-link(href="#") Программа 9

                        li.nav__item
                            a.nav__link(href="#") Акции
                        li.nav__item
                            a.nav__link(href="#") Новости
                        li.nav__item
                            a.nav__link(href="#") Мероприятия
                        li.nav__item
                            a.nav__link(href="#") FAQ
                        li.nav__item
                            a.nav__link(href="#") Блог
                        li.nav__item
                            a.nav__link(href="#") Контакты
                        li.nav__item
                            a.nav__link(href="#") Отзывы
                        li.nav__item
                            a.nav__link(href="#") For partners