mixin services(data)
    section.services
        .services__in.in
            h2.services__title.title.title_big Наши услуги
            .services__w
                .services__service.service
                    .service__title Пакет 
                        span Минимум

                    ol.service__list
                        li.service__item Выбор ВУЗа, программы обучения, предоставление информации об условиях поступления 
                        li.service__item Консультация по подготовке пакета документов для зачисления
                        li.service__item Консультация по выбору студенческого общежития
                        li.service__item Консультация по сбору пакета документов для получения долгосрочной визы

                    .service__price
                        .service__curr € 
                        .service__price-val 100

                    .service__button-w
                        a.service__button.button(href="#") Заказать


                .services__service.service
                    .service__title Пакет 
                        span Комплекс

                    ol.service__list
                        li.service__item Выбор ВУЗа, программы обучения, предоставление информации об условиях поступления
                        li.service__item Подача заявлений в выбранные ВУЗы
                        li.service__item Коммуникация с приемными комиссиями по всем вопросам поступления и зачисления
                        li.service__item Организация приезда на вступительные экзамены либо организация онлайн собеседования
                        li.service__item Получение оригинала о зачислении в ВУЗ
                        li.service__item Консультация по сбору пакета документов для получения долгосрочной визы
                        li.service__item Бронь жилья на территории Чехии (студенческое общежитие либо резиденция)
                        li.service__item Бронь билетов
                        li.service__item Помощь в выборе и оформление медицинской страховки
                        li.service__item Консультация по нострификации аттестата или диплома
                        li.service__item Консультации по всем вопросам, связанным с поступлением, получением визы, жизнью и образованием в Чехии

                    .service__price
                        .service__curr € 
                        .service__price-val 450

                    .service__button-w
                        a.service__button.button(href="#") Заказать


                .services__service.service
                    .service__title Пакет 
                        span Премиум
                    ol.service__list
                        li.service__item Выбор ВУЗа, программы обучения, предоставление информации об условиях поступления
                        li.service__item Подача заявлений в выбранные ВУЗы
                        li.service__item Коммуникация с приемными комиссиями по всем вопросам поступления и зачисления
                        li.service__item Регистрация на сдачу экзамена по чешскому языку для получения государственного сертификата
                        li.service__item Организация приезда на вступительные экзамены, тестирования, собеседования
                        li.service__item Получение оригинала о зачислении в ВУЗ
                        li.service__item Визовое сопровождение по получению долгосрочной визы – переводы, заверения, подготовка к собеседованию
                        li.service__item Бронь жилья на территории Чехии (студенческое общежитие либо резиденция)
                        li.service__item Бронь билетов
                        li.service__item Помощь в выборе и оформление медицинской страховки
                        li.service__item Консультация по нострификации аттестата или диплома
                        li.service__item Встреча и помощь в поселение в общежитие по приезду, регистрация в полиции, адаптационная экскурсия
                        li.service__item Консультации по всем вопросам, связанным с поступлением, получением визы, жизнью и образованием в Чехии

                    .service__price
                        .service__curr € 
                        .service__price-val 950
            
                    .service__button-w
                        a.service__button.button(href="#") Заказать

            .services__cta
                .services__cta-text 
                    p Узнайте о возможности индивидуальных и групповых ознакомительных <br/>поездок по университетам Чехии  

                a.services__cta-button.button.button_big(href="#") Отправить запрос
 
