mixin hero(data)
    section.hero.section.lazy(data-bg="url('assets/images/content/hero-img.jpg')")
        .hero__in.in
            .hero__w
                h1.hero__title.title.title_biggest Словакия


mixin hero-inner(data)
    section.hero.hero_inner.section.lazy(data-bg="url('assets/images/content/hero-inner-img.jpg')")
        .hero__in.in
            .hero__w
                h1.hero__title.title.title_biggest Учись в чехии бесплатно
                .hero__text Открыта подача заявлений в государственные университеты на <br/>2019 - 2020 год


mixin hero-university(data)
    section.hero.hero_inner.section.lazy(data-bg="url('assets/images/content/hero-university-img.jpg')")
        .hero__in.in
            .hero__w
                h1.hero__title.title.title_biggest Карлов университет в праге 
                .hero__text Самый известный и рейтинговый университет в Чехии

