mixin how(data)
    section.how.lazy(data-bg="url('assets/images/content/how-bg.jpg')")
        .how__in.in
            h2.how__title.title.title_big Как мы работаем

            .how__text
                p Наша задача – сделать процесс поступления понятным, <br/>эффективным и прогнозируемым

            ul.how__list
                li.how__item
                    .how__number-w
                        .how__number
                    .how__item-text Консультация по всем вопросам поступления, обучения и проживания 

                li.how__item
                    .how__number-w
                        .how__number
                    .how__item-text Принятие решения, заполнение анкет, предоставление скан-копий документов

                li.how__item
                    .how__number-w
                        .how__number
                    .how__item-text Подготовка договора,  внесение предоплаты 
                li.how__item
                    .how__number-w
                        .how__number
                    .how__item-text Подготовка документов для зачисления, оформление визы, бронь жилья, инструкция по выезду на обучение

