mixin universities(data)
    section.universities.section
        .universities__in.in

            h2.universities__title.title.title_big Государственные университеты чехии

            .universities__w
                .universities__carousel
                    .universities__item
                        .universities__item-w
                            a.universities__item-title(href="#") Карлов университет
                            a.universities__figure(href="#")
                                img(src="assets/images/content/univercity-1.jpg", alt="")
                            a.universities__more.button(href="#more") Читать далее
                    .universities__item
                        .universities__item-w
                            a.universities__item-title(href="#") Пражский экономический университет
                            a.universities__figure(href="#")
                                img(src="assets/images/content/univercity-1.jpg", alt="")
                            a.universities__more.button(href="#more") Читать далее
                    .universities__item
                        .universities__item-w
                            a.universities__item-title(href="#") Масариков университет
                            a.universities__figure(href="#")
                                img(src="assets/images/content/univercity-1.jpg", alt="")
                            a.universities__more.button(href="#more") Читать далее
                    .universities__item
                        .universities__item-w
                            a.universities__item-title(href="#") Чешский технический университет
                            a.universities__figure(href="#")
                                img(src="assets/images/content/univercity-1.jpg", alt="")
                            a.universities__more.button(href="#more") Читать далее
                    .universities__item
                        .universities__item-w
                            a.universities__item-title(href="#") Карлов университет
                            a.universities__figure(href="#")
                                img(src="assets/images/content/univercity-1.jpg", alt="")
                            a.universities__more.button(href="#more") Читать далее


                .universities__carousel
                    .universities__item
                        .universities__item-w
                            a.universities__item-title(href="#") Карлов университет
                            a.universities__figure(href="#")
                                img(src="assets/images/content/univercity-1.jpg", alt="")
                            a.universities__more.button(href="#more") Читать далее
                    .universities__item
                        .universities__item-w
                            a.universities__item-title(href="#") Пражский экономический университет
                            a.universities__figure(href="#")
                                img(src="assets/images/content/univercity-1.jpg", alt="")
                            a.universities__more.button(href="#more") Читать далее
                    .universities__item
                        .universities__item-w
                            a.universities__item-title(href="#") Масариков университет
                            a.universities__figure(href="#")
                                img(src="assets/images/content/univercity-1.jpg", alt="")
                            a.universities__more.button(href="#more") Читать далее
                    .universities__item
                        .universities__item-w
                            a.universities__item-title(href="#") Чешский технический университет
                            a.universities__figure(href="#")
                                img(src="assets/images/content/univercity-1.jpg", alt="")
                            a.universities__more.button(href="#more") Читать далее
                    .universities__item
                        .universities__item-w
                            a.universities__item-title(href="#") Карлов университет
                            a.universities__figure(href="#")
                                img(src="assets/images/content/univercity-1.jpg", alt="")
                            a.universities__more.button(href="#more") Читать далее




            h2.universities__title.title.title_big Частные университеты чехии

            .universities__w
                .universities__carousel
                    .universities__item
                        .universities__item-w
                            a.universities__item-title(href="#") Карлов университет
                            a.universities__figure(href="#")
                                img(src="assets/images/content/universities-2.jpg", alt="")
                            a.universities__more.button(href="#more") Читать далее
                    .universities__item
                        .universities__item-w
                            a.universities__item-title(href="#") Пражский экономический университет
                            a.universities__figure(href="#")
                                img(src="assets/images/content/universities-2.jpg", alt="")
                            a.universities__more.button(href="#more") Читать далее
                    .universities__item
                        .universities__item-w
                            a.universities__item-title(href="#") Масариков университет
                            a.universities__figure(href="#")
                                img(src="assets/images/content/universities-2.jpg", alt="")
                            a.universities__more.button(href="#more") Читать далее
                    .universities__item
                        .universities__item-w
                            a.universities__item-title(href="#") Чешский технический университет
                            a.universities__figure(href="#")
                                img(src="assets/images/content/universities-2.jpg", alt="")
                            a.universities__more.button(href="#more") Читать далее
                    .universities__item
                        .universities__item-w
                            a.universities__item-title(href="#") Карлов университет
                            a.universities__figure(href="#")
                                img(src="assets/images/content/universities-2.jpg", alt="")
                            a.universities__more.button(href="#more") Читать далее


                .universities__carousel
                    .universities__item
                        .universities__item-w
                            a.universities__item-title(href="#") Карлов университет
                            a.universities__figure(href="#")
                                img(src="assets/images/content/universities-2.jpg", alt="")
                            a.universities__more.button(href="#more") Читать далее
                    .universities__item
                        .universities__item-w
                            a.universities__item-title(href="#") Пражский экономический университет
                            a.universities__figure(href="#")
                                img(src="assets/images/content/universities-2.jpg", alt="")
                            a.universities__more.button(href="#more") Читать далее
                    .universities__item
                        .universities__item-w
                            a.universities__item-title(href="#") Масариков университет
                            a.universities__figure(href="#")
                                img(src="assets/images/content/universities-2.jpg", alt="")
                            a.universities__more.button(href="#more") Читать далее
                    .universities__item
                        .universities__item-w
                            a.universities__item-title(href="#") Чешский технический университет
                            a.universities__figure(href="#")
                                img(src="assets/images/content/universities-2.jpg", alt="")
                            a.universities__more.button(href="#more") Читать далее
                    .universities__item
                        .universities__item-w
                            a.universities__item-title(href="#") Карлов университет
                            a.universities__figure(href="#")
                                img(src="assets/images/content/universities-2.jpg", alt="")
                            a.universities__more.button(href="#more") Читать далее

                
            .universities__note
                .universities__note-text Мы собрали для Вас полный список самых рейтинговых <br/>государственных и частных университетов с описанием программ обучения

                a.universities__note-button.button.button_big(href="#") Скачать