mixin articles(data)
    section.articles.section.lazy(data-bg="url('assets/images/general/articles-bg.png')")
        .articles__in.in
            h2.articles__title.title.title_big Полезно знать - статьи из нашего блога
            .articles__carousel
                article.articles__article
                    figure.articles__image
                        img.lazy(data-src="assets/images/content/article-img-1.jpg", alt="")
                    .articles__meta
                        a.articles__category(href="#") Наука
                    .articles__item-title Образование в США. С чего начать.
                    .articles__text Сфера высшего образования в Америке представлена множеством учебных заведений, предлагающих различные программы
                    .articles__more Читать далее...
                    a.articles__link(href="#") 


                article.articles__article
                    figure.articles__image
                        img.lazy(data-src="assets/images/content/article-img-2.jpg", alt="")
                    .articles__meta
                        a.articles__category(href="#") Кампус
                    .articles__item-title Образование в США. С чего начать.
                    .articles__text Сфера высшего образования в Америке представлена множеством учебных заведений, предлагающих различные программы
                    .articles__more Читать далее...
                    a.articles__link(href="#")


                article.articles__article
                    figure.articles__image
                        img.lazy(data-src="assets/images/content/article-img-3.jpg", alt="")
                    .articles__meta
                        a.articles__category(href="#") Что нового?
                    .articles__item-title Образование в США. С чего начать.
                    .articles__text Сфера высшего образования в Америке представлена множеством учебных заведений, предлагающих различные программы
                    .articles__more Читать далее...
                    a.articles__link(href="#")

                article.articles__article
                    figure.articles__image
                        img.lazy(data-src="assets/images/content/article-img-1.jpg", alt="")
                    .articles__meta
                        a.articles__category(href="#") Наука
                    .articles__item-title Образование в США. С чего начать.
                    .articles__text Сфера высшего образования в Америке представлена множеством учебных заведений, предлагающих различные программы
                    .articles__more Читать далее...
                    a.articles__link(href="#")



mixin articles-inner(data)
    section.articles.articles_inner.section.lazy(data-bg="url('assets/images/content/articles-inner-bg.png')")
        .articles__in.in
            h2.articles__title.title.title_big Полезно знать - статьи из нашего блога
            .articles__carousel
                article.articles__article
                    figure.articles__image
                        img.lazy(data-src="assets/images/content/article-img-1.jpg", alt="")
                    .articles__meta
                        a.articles__category(href="#") Наука
                    .articles__item-title Образование в США. С чего начать.
                    .articles__text Сфера высшего образования в Америке представлена множеством учебных заведений, предлагающих различные программы
                    .articles__more Читать далее...
                    a.articles__link(href="#") 


                article.articles__article
                    figure.articles__image
                        img.lazy(data-src="assets/images/content/article-img-2.jpg", alt="")
                    .articles__meta
                        a.articles__category(href="#") Кампус
                    .articles__item-title Образование в США. С чего начать.
                    .articles__text Сфера высшего образования в Америке представлена множеством учебных заведений, предлагающих различные программы
                    .articles__more Читать далее...
                    a.articles__link(href="#")


                article.articles__article
                    figure.articles__image
                        img.lazy(data-src="assets/images/content/article-img-3.jpg", alt="")
                    .articles__meta
                        a.articles__category(href="#") Что нового?
                    .articles__item-title Образование в США. С чего начать.
                    .articles__text Сфера высшего образования в Америке представлена множеством учебных заведений, предлагающих различные программы
                    .articles__more Читать далее...
                    a.articles__link(href="#")

                article.articles__article
                    figure.articles__image
                        img.lazy(data-src="assets/images/content/article-img-1.jpg", alt="")
                    .articles__meta
                        a.articles__category(href="#") Наука
                    .articles__item-title Образование в США. С чего начать.
                    .articles__text Сфера высшего образования в Америке представлена множеством учебных заведений, предлагающих различные программы
                    .articles__more Читать далее...
                    a.articles__link(href="#")