mixin news(data)
    section.news.section
        .news__in.in
            h2.news__title.title.title_big Новости в сфере образования за рубежом
            .news__carousel
                article.news__article
                    a.news__link(href="#")
                        figure.news__image
                            img(src="assets/images/content/news-img.jpg", alt="")
                        .news__meta
                            span.news__date 30.01.2019

                        .news__item-title Образование в США. С чего начать.
                        .news__text Мы используем весь наш многолетний опыт и знания для подбора наилучших программ обучения и построения максимально эффективной стратегии подготовки к поступлению. Наши эксперты лично 
                        .news__more Читать далее...

                article.news__article
                    a.news__link(href="#")
                        figure.news__image
                            img(src="assets/images/content/news-img.jpg", alt="")
                        .news__meta
                            span.news__date 30.01.2019

                        .news__item-title Образование в США. С чего начать.
                        .news__text Мы используем весь наш многолетний опыт и знания для подбора наилучших программ обучения и построения максимально эффективной стратегии подготовки к поступлению. Наши эксперты лично 
                        .news__more Читать далее...


                article.news__article
                    a.news__link(href="#")
                        figure.news__image
                            img(src="assets/images/content/news-img.jpg", alt="")
                        .news__meta
                            span.news__date 30.01.2019

                        .news__item-title Образование в США. С чего начать.
                        .news__text Мы используем весь наш многолетний опыт и знания для подбора наилучших программ обучения и построения максимально эффективной стратегии подготовки к поступлению. Наши эксперты лично 
                        .news__more Читать далее...

                article.news__article
                    a.news__link(href="#")
                        figure.news__image
                            img(src="assets/images/content/news-img.jpg", alt="")
                        .news__meta
                            span.news__date 30.01.2019

                        .news__item-title Образование в США. С чего начать.
                        .news__text Мы используем весь наш многолетний опыт и знания для подбора наилучших программ обучения и построения максимально эффективной стратегии подготовки к поступлению. Наши эксперты лично 
                        .news__more Читать далее...

                article.news__article
                    a.news__link(href="#")
                        figure.news__image
                            img(src="assets/images/content/news-img.jpg", alt="")
                        .news__meta
                            span.news__date 30.01.2019

                        .news__item-title Образование в США. С чего начать.
                        .news__text Мы используем весь наш многолетний опыт и знания для подбора наилучших программ обучения и построения максимально эффективной стратегии подготовки к поступлению. Наши эксперты лично 
                        .news__more Читать далее...

                article.news__article
                    a.news__link(href="#")
                        figure.news__image
                            img(src="assets/images/content/news-img.jpg", alt="")
                        .news__meta
                            span.news__date 30.01.2019

                        .news__item-title Образование в США. С чего начать.
                        .news__text Мы используем весь наш многолетний опыт и знания для подбора наилучших программ обучения и построения максимально эффективной стратегии подготовки к поступлению. Наши эксперты лично 
                        .news__more Читать далее...


                article.news__article
                    a.news__link(href="#")
                        figure.news__image
                            img(src="assets/images/content/news-img.jpg", alt="")
                        .news__meta
                            span.news__date 30.01.2019

                        .news__item-title Образование в США. С чего начать.
                        .news__text Мы используем весь наш многолетний опыт и знания для подбора наилучших программ обучения и построения максимально эффективной стратегии подготовки к поступлению. Наши эксперты лично 
                        .news__more Читать далее...





mixin news-inner(data)
    section.news.news_inner.section(style="background-image:url('assets/images/content/news-inner.png');")
        .news__in.in
            h2.news__title.title.title_big Новости и акции
            .news__carousel
                article.news__article
                    a.news__link(href="#")
                        figure.news__image
                            img(src="assets/images/content/news-img.jpg", alt="")
                        .news__meta
                            span.news__date 30.01.2019

                        .news__item-title Образование в США. С чего начать.
                        .news__text Мы используем весь наш многолетний опыт и знания для подбора наилучших программ обучения и построения максимально эффективной стратегии подготовки к поступлению. Наши эксперты лично 
                        .news__more Читать далее...

                article.news__article
                    a.news__link(href="#")
                        figure.news__image
                            img(src="assets/images/content/news-img.jpg", alt="")
                        .news__meta
                            span.news__date 30.01.2019

                        .news__item-title Образование в США. С чего начать.
                        .news__text Мы используем весь наш многолетний опыт и знания для подбора наилучших программ обучения и построения максимально эффективной стратегии подготовки к поступлению. Наши эксперты лично 
                        .news__more Читать далее...


                article.news__article
                    a.news__link(href="#")
                        figure.news__image
                            img(src="assets/images/content/news-img.jpg", alt="")
                        .news__meta
                            span.news__date 30.01.2019

                        .news__item-title Образование в США. С чего начать.
                        .news__text Мы используем весь наш многолетний опыт и знания для подбора наилучших программ обучения и построения максимально эффективной стратегии подготовки к поступлению. Наши эксперты лично 
                        .news__more Читать далее...

                article.news__article
                    a.news__link(href="#")
                        figure.news__image
                            img(src="assets/images/content/news-img.jpg", alt="")
                        .news__meta
                            span.news__date 30.01.2019

                        .news__item-title Образование в США. С чего начать.
                        .news__text Мы используем весь наш многолетний опыт и знания для подбора наилучших программ обучения и построения максимально эффективной стратегии подготовки к поступлению. Наши эксперты лично 
                        .news__more Читать далее...

                article.news__article
                    a.news__link(href="#")
                        figure.news__image
                            img(src="assets/images/content/news-img.jpg", alt="")
                        .news__meta
                            span.news__date 30.01.2019

                        .news__item-title Образование в США. С чего начать.
                        .news__text Мы используем весь наш многолетний опыт и знания для подбора наилучших программ обучения и построения максимально эффективной стратегии подготовки к поступлению. Наши эксперты лично 
                        .news__more Читать далее...

                article.news__article
                    a.news__link(href="#")
                        figure.news__image
                            img(src="assets/images/content/news-img.jpg", alt="")
                        .news__meta
                            span.news__date 30.01.2019

                        .news__item-title Образование в США. С чего начать.
                        .news__text Мы используем весь наш многолетний опыт и знания для подбора наилучших программ обучения и построения максимально эффективной стратегии подготовки к поступлению. Наши эксперты лично 
                        .news__more Читать далее...


                article.news__article
                    a.news__link(href="#")
                        figure.news__image
                            img(src="assets/images/content/news-img.jpg", alt="")
                        .news__meta
                            span.news__date 30.01.2019

                        .news__item-title Образование в США. С чего начать.
                        .news__text Мы используем весь наш многолетний опыт и знания для подбора наилучших программ обучения и построения максимально эффективной стратегии подготовки к поступлению. Наши эксперты лично 
                        .news__more Читать далее...

